<div class="panel right">
  <h1> Create a Ribbit </h1>
  <%= form_for @ribbit do |f| %>
    <%= f.text_area :content, class: "ribbitText", id: "ribbitText" %>
    <%= f.submit "Ribbit!" %>
    <span id="charCount">0</span>
  <% end %>
</div>
